body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* White background */
}

.centered-gif {
    max-width: 100%; /* Ensure the GIF doesn't overflow horizontally */
    max-height: 100vh; /* Ensure the GIF doesn't overflow vertically */
    cursor: pointer;
}